html, body {
  height: 98%;
  width: 99%;
  background: #111;
  color: #EEE;
}
header {
  text-align: center;
  height: 10%;
}
nav {
  height:99%;
  width:10%;
  float:left;   
  overflow-y: scroll;
  user-select: none;
  background-color: white;
  color: black;
  font-size: 1.2em;
  padding: 10px;
}
nav span
{
  font-size: 1em;
  font-style: italic;
}
section {
  text-align: center;
  margin-top: 2%;
}
footer {
 position:absolute;
 bottom:5px;
 width:99%;
 height:10px;
 color: #FFF;
 font-size: 10px;
 text-align: center;
}
#progressBox {
  position: absolute;
  right: 0px;
  top: 10%;
  border: solid 1px #444;
  padding: 0.3em;
  font-size: 1.1em;
  text-align: center;
}
label {
  display: block;
  text-decoration: underline;
  font-size: 2em;
}
input, select {
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0.3em;
}
button {
  font-size: 3em;
  border-radius: 10px;
  padding: 0.3em;
  margin: 0.3em;
}

.smallButton {
  font-size: 0.8em;
  border-radius: 5px;
  animation-duration: 4s;
  -webkit-transition: all 4s ease;
}

.submitButton {
  background-color: blue;
  color: white;
}

.suggestion {
  text-align: left;
  font-size: 0.7em;
  display: block;
  margin-left: 48%;
  margin-top: -5px;
}

#periodicTable {
  width: 40%;
  margin-left: 35%;
  border: #500 solid 50px;
}
#periodicTable input{
  transform: scale(1.5);
}